<!doctype html>
<html class="no-js" lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/plantilla :: head"></head>

    <body>

        <div th:replace="/plantilla :: preloader"></div>

        <header th:replace="/plantilla :: header"></header> 

        <main>
            <!--? Hero Start -->
            <div class="slider-area2 fondo-quienes-somos">
                <div class="slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap hero-cap2 pt-20 text-center">
                                    <h2>¿Quienes somos?</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->

            <!--? About Law Start-->
            <section class="about-low-area section-padding2">

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-10">
                            <div class="about-caption">
                                <!-- Section Tittle -->
                                <p style="text-align: justify;">Fundación Campolina es una entidad creada a principios del año 2021, trabajamos por y para la inclusión de las personas con discapacidad, en todos los ámbitos de la sociedad.</p>
                                <p style="text-align: justify;">En un inicio nuestra principal actividad consistía en mejorar el servicio de transporte para las PCD e incentivar el turismo accesible hasta que decidimos comenzar a expandirnos y abrir nuevos horizontes. </p>
                                <p style="text-align: justify;">Es allí cuando se constituyó esta organización que busca llevar adelante acciones encaminadas a que las PCD accedan a una vida digna a través del desarrollo del trabajo protegido.  </p>
                                <p style="text-align: justify;">Hoy en día y después de mucho esfuerzo personal podemos decir que <strong>FUNDACIÓN CAMPOLINA</strong> es un <strong>TALLER PROTEGIDO DE PRODUCCIÓN</strong> </p>               
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <!-- about-img -->
                            <div class="about-img">
                                <img src="img/gallery/fondo2.png" alt="" class="fondo2">
                            </div>
                        </div>
                    </div>

                    <div class="container mt-100">
                        <div class="row">
                            <div class="col-lg-6 col-md-10">
                                <div class="about-caption">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle mb-35">
                                        <span>Acerda de la fundación</span>
                                        <h2>Misión</h2>
                                    </div>
                                    <p style="text-align: justify;">Nuestra misión es mejorar la calidad de vida de las personas con discapacidad, ofreciendo programas para el desarrollo de sus capacidades, favoreciendo su inclusión social y/o laboral. 
                                        Buscamos ser intermediarios entre el sector privado y las PDC que buscan integrarse al mismo.
                                        Desarrollar y brindar herramientas que les permitan la satisfacción de sus necesidades y las de sus familias.
                                        Trabajamos día a día con la convicción de colaborar en la creación de un universo laboral inclusivo, integrador y adaptado a las PCD. 
                                        Queremos producir en el corto-medio plazo puestos de trabajo genuinos y de calidad para las mismas.
                                    </p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="container mt-100">
                            <div class="row">

                                <div class="col-lg-6 col-md-10">
                                    <div class="about-caption">
                                        <!-- Section Tittle -->
                                        <div class="section-tittle mb-35">
                                            <h2>Visión</h2>
                                        </div>
                                        <p style="text-align: justify;">Buscamos ser una Institución referente, que contribuya a lograr la plena y efectiva integración social de las PCD. 
                                            Aspiramos a la autonomía personal de las mismas, a una vida independiente como objetivo básico y a potenciar el respeto por la dignidad humana, la igualdad y la libertad. 
                                            Anhelamos que la inclusión se convierta en un acontecimiento común y cotidiano en la sociedad. Es nuestra intención que se vea a las personas con discapacidad como un ciudadano más, con la capacidad de acceder a todos sus derechos.
                                            Creemos en las personas como valor absoluto y fin en sí misma, merecedoras de respeto, de derechos y deberes, autodeterminación, autonomía, libertad, empoderamiento, singularidad, diversidad y aceptación.
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        </section>
                        <!-- About Law End-->

                        <!--? Testimonial Start -->
                        <div class="testimonial-area testimonial-padding">
                            <div class="container">
                                <!-- Testimonial contents -->
                                <div class="row d-flex justify-content-center">
                                    <div class="col-xl-8 col-lg-8 col-md-10">
                                        <div class="h1-testimonial-active dot-style">
                                            <!-- Single Testimonial -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-caption ">
                                                    <!-- founder -->
                                                    <div class="testimonial-founder">
                                                        <div class="founder-img mb-40">
                                                            <img src="img/gallery/testimonial.png" alt="">
                                                            <span>Margaret Lawson</span>
                                                            <p>Creative Director</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-top-cap">
                                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Testimonial -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-caption ">
                                                    <!-- founder -->
                                                    <div class="testimonial-founder">
                                                        <div class="founder-img mb-40">
                                                            <img src="img/gallery/testimonial.png" alt="">
                                                            <span>Margaret Lawson</span>
                                                            <p>Creative Director</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-top-cap">
                                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Testimonial -->
                                            <div class="single-testimonial text-center">
                                                <div class="testimonial-caption ">
                                                    <!-- founder -->
                                                    <div class="testimonial-founder">
                                                        <div class="founder-img mb-40">

                                                            <span>Margaret Lawson</span>
                                                            <p>Creative Director</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-top-cap">
                                                        <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial End -->
                        
         

        </main>

        <footer th:replace="/plantilla :: footer"></footer>

        <span th:replace="/plantilla :: js-script"></span>

    </body>
</html>