<!doctype html>
<html class="no-js" lang="zxx"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="/plantilla :: head"></head> 

    <body>

        <div th:replace="/plantilla :: preloader"></div>

        <header th:replace="/plantilla :: header"></header> 

        <main>
            <!--? Hero Start -->
            <div class="slider-area2 fondo-servicios">
                <div class="slider-height2 d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="hero-cap hero-cap2 pt-20 text-center">
                                    <h2>Servicios</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hero End -->

            <div class="container mt-50 mb-50">

                <div class="row">

                    <div class="col-xl-6">
                        
                        
                        
                    </div>

                </div>

            </div>


        </main>

        <footer th:replace="/plantilla :: footer"></footer>

        <span th:replace="/plantilla :: js-script"></span>

    </body>
</html>